<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.flexlog.backup-prune</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{FLEXLOG_REPO_DIR}}/scripts/prune-old-backups.sh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>FLEXLOG_LOG_DIR</key>
    <string>{{FLEXLOG_LOG_DIR}}</string>
    <key>RCLONE_REMOTE</key>
    <string>{{RCLONE_REMOTE}}</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>{{FLEXLOG_LOG_DIR}}/prune.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>{{FLEXLOG_LOG_DIR}}/prune.stderr.log</string>
</dict>
</plist>
